<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
        initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Movie App</title>
</head>
<style>
.a {
    background-color:  #ffffff;
   
}
</style> 
<body> 
 <div class="a">
<div class="footer py-3 mt-5">

    <div class="container">
        <div class="row" >
            <div class="col-md-2">
                <h3><b>MovieApp</b></h3>
                </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><small><b>COMPANY</b></small></li>
                    <li>About</li>
                    <li>Affairs</li>
                    <li>Media</li>
                    <li>News</li>
                </ul>
                </div>
            <div class="col-md-2"> 
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><small><b>COMMUNITIES</b></small></li>
                    <li>Developers</li>
                    <li>Brands</li>
                    <li>Investors</li>
                    
                </ul>
                </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><small><b>USEFUL LINKS</b></small></li>
                    <li>Help</li>
                    <li>Gift</li>
                    
                    
                </ul>
                </div>
            <div class="col-md-2 text-right">
                <i class="fa fa-twitter fa-2x mx-3"></i>
                <i class="fa fa-facebook-square fa-2x mx-3"></i>
                <i class="fa fa-instagram fa-2x mx-3"></i>
            </div>
            
            <div class="clearfix"></div>
            <ul class="list-inline mt-5 float-left">
                <li class="list-inline-item"><small>Legal</small></li>
                <li class="list-inline-item"><small>Privacy</small></li>
                <li class="list-inline-item"><small>Cookies</small></li>
                <li class=" mt-3 float-left"><small>2021 MovieApp</small></li>
                 
            </ul>
        </div>

    </div>
</div>
</div>
</body>
 </html>